@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

.h-screen-banner {
  height: calc(100vh - 88px);
}

.h-screen-menu {
  height: calc(100vh - 64px);
}

.glassmorph {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glassmorph1 {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(20, 24, 82, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.glassmorph1-dark{
  background: rgba(0, 1, 70, 0.2);
  box-shadow: 0 8px 32px 0 rgba(20, 24, 82, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.no-glassmorph {
  background: none;
  box-shadow: none;
  backdrop-filter: unset;
  -webkit-backdrop-filter: unset;
  border: none;
}

.gallery{
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  display:inline-block;
}
.gallery img{
  width: 100% !important;
  height: auto !important;
}

@media (min-width: 768px) {
  .gallery{
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
  }
}

@media (min-width: 1024px) {
  .gallery{
    column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
  }
}

/* .gallery .image{
  @apply inline-block mb-2 overflow-hidden;
} */

/* .gallery .image:hover img{
  @apply scale-110;
} */

.markdown-container > h1,
.markdown-container > h2,
.markdown-container > h3,
.markdown-container > p,
.markdown-container strong,
.markdown-container blockquote,
.prose a {
  @apply text-gray-700 dark:text-gray-300 antialiased;
}

.markdown-container > figure {
  @apply aspect-w-16 aspect-h-9 mx-auto;
}

.markdown-container blockquote {
  @apply border-l-4 border-gray-700 dark:border-gray-200;
}
.prose pre{
  @apply bg-gray-200 dark:bg-gray-800 p-0;
}