@tailwind base;
@tailwind components;
@tailwind utilities;


.h-screen-banner {
  height: calc(100vh - 80px);
}

.h-screen-menu {
  height: calc(100vh - 64px);
}

.glassmorph {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glassmorph1 {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(20, 24, 82, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.no-glassmorph {
  background: none;
  box-shadow: none;
  backdrop-filter: unset;
  -webkit-backdrop-filter: unset;
  border: none;
}
